nav {
  width: 100%;
}

.navigation {
  position: fixed;
  margin-left: 50px;
}

.navigation a {
  text-decoration: none !important;
}

.navigation a p {
  color: black;
  font-size: 1.5rem;
}

.navigation .nav-menu {
  padding-top: 25px;
}

.navigation .nav-menu .xl-screen {
  display: block;
}

.navigation .nav-menu ul {
  padding: 0;
}

.navigation .nav-menu ul li {
  list-style: none;
  padding: 5px 0;
  text-decoration: none !important;
}

.navigation .nav-menu ul li a {
  color: black;
  padding: 0 5px;
}

.navigation .hamburger-icon {
  display: none;
}

.showMenu {
  display: block;
}

.hideMenu {
  display: none;
}

.slideMenuIn {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.slideMenuOut {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.show-background {
  z-index: 1;
  /* Sit on top */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.hide-background {
  z-index: 0;
  /* Sit on top */
  background-color: transparent;
  /* Black w/ opacity */
  -webkit-transition: z-index 1.2s ease-in-out;
  transition: z-index 1.2s ease-in-out;
}

.alignRight {
  display: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alignRight a {
  color: white;
}

.background-nav {
  display: none;
}

/* X-Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {
  .navigation {
    position: fixed;
    /* Stay in place */
    z-index: 2;
    margin-left: 0px;
    padding: 8px;
    background-color: black;
  }
  .navigation .myName {
    text-align: center;
    display: none;
  }
  .navigation .nav-menu {
    padding-top: 0px;
  }
  .navigation .nav-menu .xl-screen {
    display: none;
  }
  .navigation .nav-menu ul {
    margin: 0;
    -webkit-transition: display 2s ease-in;
    transition: display 2s ease-in;
  }
  .navigation .nav-menu ul li a {
    color: white;
  }
  .navigation .hamburger-icon {
    display: block;
    color: white;
    z-index: 2;
  }
  .background-nav {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    margin-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
  }
  .background-nav .side-nav {
    padding: 45px 20px 0 0;
    width: 40%;
    margin: 0;
    right: 0;
    height: 100%;
    float: right;
    background-color: black;
    -webkit-transition: -webkit-transform .75s ease-in-out;
    transition: -webkit-transform .75s ease-in-out;
    transition: transform .75s ease-in-out;
    transition: transform .75s ease-in-out, -webkit-transform .75s ease-in-out;
  }
  .background-nav .side-nav li {
    list-style: none;
    padding: 5px 10px;
    text-decoration: none !important;
  }
  .background-nav .side-nav li a {
    color: white;
    font-size: 0.85rem;
  }
  .alignRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .navigation {
    margin: 30px 0 0 30px;
  }
  .navigation .nav-menu {
    padding: 10px 0;
  }
  .navigation a p {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .navigation {
    margin: 30px 0 0 30px;
  }
  .navigation .nav-menu {
    padding: 10px 0;
  }
  .navigation a p {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}

/* Large devices (desktops, 992px and up)*/
/* Extra large devices (large desktops, 1200px and up)*/
/*# sourceMappingURL=sideNavbar.css.map */